# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# React Native / Expo
.expo/
__generated__/
/mobile/.expo/
/mobile/node_modules/

# OS
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build directories
dist/
build/
venv/
backend/__pycache__/
backend/animation/__pycache__/
backend/nlp/__pycache__/